### Series 运算

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

In [3]:
s1 = Series([2, 3, 7, 9], index=[0, 3, 4, 6])
s2 = Series([1,2,3,4], index=[2, 3, 4, 5])
display(s1 ,s2)

0    2
3    3
4    7
6    9
dtype: int64

2    1
3    2
4    3
5    4
dtype: int64

In [5]:
s1 + s2

0     NaN
2     NaN
3     5.0
4    10.0
5     NaN
6     NaN
dtype: float64

### DataFrame


- Series 会将None ,和 nan 当做 0 处理，而 ndarray 不会，会报异常


### DataFrame 介绍

- 既有行索引，又有列索引的 Series
- 行索引： index
- 列索引： columns
- 值： values

In [10]:
s1 = Series([2, 3, 7, 9], index=[0, 3, 4, 6])
s2 = Series([1,2,3,4], index=[2, 3, 4, 5])
display(s1 ,s2)
s1.add(s2, fill_value=0) / 2

s =Serries([1, 2, 3, None])

0    2
3    3
4    7
6    9
dtype: int64

2    1
3    2
4    3
5    4
dtype: int64

0    1.0
2    0.5
3    2.5
4    5.0
5    2.0
6    4.5
dtype: float64

### 创建 Dataframe

- 字典创建

In [17]:
df = DataFrame({"height": [12, 213, 231, 213],
               "age": np.random.randint(20, 25, size=4),
               "sex":["男", "女","男", "女"]}, index = [1, 2, 3 ,4])
df

   height  age sex
1      12   21   男
2     213   20   女
3     231   20   男
4     213   20   女

In [ ]:
df